<h1 class="categoriesTitle">Categories:</h1>
<a class="addCategoryBtn" href="/newCategory">New</a>
<form id="categoriesForm" action="/submit" method="GET">
    <div>
        <label class="noCategory">
            <input type="checkbox" name="category" value="No Category" 
                <%= selected.includes("No Category") ? "checked" : "" %>
                onchange="this.form.submit()"/>
                No Category
        </label>
        <a class="noCategoryAnchor" href="/0/categoryDetails">Details</a>
    </div>
    
    <% if (locals.categories && locals.categories.length > 0) { %>
        <% locals.categories.map(category => { %>
            <div class="categoryItem">
                <label>
                    <input type="checkbox" name="category" value="<%= category.id %>" 
                            <%= selected.includes(category.id.toString()) ? "checked" : "" %>
                            onchange="this.form.submit()" />
                        <%= category.name %>
                </label>
                <a href="/<%= category.id %>/categoryDetails">Details</a>
                <a href="/<%= category.id %>/categoryUpdate">Update</a>
                <a href="/<%= category.id %>/categoryDelete?selected=<%= selected.join(',') %>"
                onclick="
                    const password = prompt('Please enter PASSWORD to delete');
                    if (password !== 'PASSWORD') {
                        alert('Wrong password, cannot delete');
                        return false;
                    }
                    ">
                    Delete
                </a>
            </div>
        <% }) %>
    <% } %>
</form>